.header__container {
  display: flex;
  border-bottom: 1px solid #ececec;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and(min-width:1200px) {
    width: 1200px;
  }
}
