.navigation {
  display: flex;

  &__list {
    @include text-navigation;
    display: none;
    align-items: center;
    @media screen and(min-width:768px) {
      display: flex;
      margin-left: 88px;
    }
    @media screen and(min-width:1200px) {
      margin-left: 94px;
    }
  }

  &__item {
    display: block;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__link {
    color: $color-title;
    padding: 32px 0;
    display: block;
    position: relative;

    &--active {
      color: $accent-color;
    }

    &--active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      bottom: 0;
      left: 0;
      background-color: $accent-color;
    }
  }
}
