.section-features {
  @media screen and(min-width:1200px) {
    padding-bottom: 0px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;

  justify-content: space-between;

  &__item {
    margin-bottom: 30px;
    margin-left: 30px;

    @media screen and(min-width:768px) {
      width: calc(100% / 2 - 30px);
    }

    @media screen and(min-width:1200px) {
      width: 270px;
    }
  }

  &__logo {
    max-width: 450px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-wh;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  &__title {
    @include text-features-title;
    color: $color-title;
    text-align: center;
    margin-bottom: 10px;
    @media screen and(min-width:768px) {
      text-align: start;
    }
  }

  &__text {
    @include text-basic;
    color: $basic-text;
  }
}
