.our-team {
  background-color: $background-wh;
}

.our-team__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;

  justify-content: space-between;
}

.our-team__item {
  background: $color-logo-wh;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;

  margin-bottom: 30px;
  margin-left: 30px;

  @media screen and(min-width:768px) {
    width: calc(100% / 2 - 30px);
  }

  @media screen and(min-width:1200px) {
    width: 270px;
  }
}

.our-team__text {
  margin: 0;
  margin: 30px auto 16px;
  text-align: center;
}

.our-team__name-person {
  @include text-team-person;
  color: $color-title;
  margin-bottom: 10px;
}

.our-team__position {
  @include text-team-position;
}
