.our-clients {
  background-color: #ffffff;
}

.our-clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-left: -30px;
}

.our-clients__item {
  width: calc(100% / 2 - 30px);
  margin-bottom: 30px;
  margin-left: 30px;

  @media screen and(min-width:768px) {
    width: calc(100% / 3 - 30px);
  }
  @media screen and(min-width:1200px) {
    width: calc(100% / 6 - 30px);
  }
  @media screen and(max-width:479px) {
    width: calc(100% - 30px);
  }
}

.our-clients__link {
  display: block;
  color: $fill-social-icon;
  background-color: $color-logo-wh;
  border: 1px solid $fill-social-icon;
  border-radius: 4px;
  text-align: center;
  height: 92px;
  padding: 16px 0;

  &:hover,
  :focus {
    border-color: $accent-color;
    fill: currentColor;
  }
}

.our-clients__icon {
  fill: currentColor;
}
