.modal-form {
  &__title {
    @include text-modal-title;
    text-align: center;
    color: $color-title;
    margin-bottom: 12px;
  }

  &__wraper {
    position: relative;
    margin-top: 4px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: $color-title;
    transition: $time-eff;
  }
}

.modal-form__field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $basic-text;

  &--coment {
    margin-bottom: 20px;
    @media screen and(max-width:479px) {
      margin-bottom: 10px;
    }
  }
}

.modal-form__input {
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  transition: $time-eff;

  &--name:focus,
  &--phone:focus,
  &--email:focus,
  &--coment:focus {
    border-color: $accent-color;
  }

  &--name:focus + .modal-form__icon--person,
  &--phone:focus + .modal-form__icon--phone,
  &--email:focus + .modal-form__icon--email {
    fill: $accent-color;
  }

  &--coment {
    height: 120px;
    @media screen and(max-width:479px) {
      height: 70px;
    }
    padding: 12px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    margin-top: 4px;
  }
}
