//Color

$accent-color: #2196f3;
$btn-color-hover: #188ce8;
$color-logo-bl: #000000;
$color-logo-wh: #ffffff;
$color-title: #212121;
$basic-text: #757575;
$footer-background: #2f303a;
$hero-backgraund: #c4c4c4;
$background-wh: #f5f4fa;
$fill-social-icon: #afb1b8;
$background-social-footer: #ffffff1a;
$header-border: #ececec;

//Transition eff

$time-eff: 250ms cubic-bezier(0.4, 0, 0.2, 1);

